{% extends 'base.html.twig' %}

{% block title 'Wins'|trans %}

{% block body %}
    <div class="container-fluid">
        <h1>{{ 'Wins'|trans }}</h1>

        <table class="table">
            {% for win in wins %}
                <tr>
                    <td>{{ win.createdAt|date('d/m/Y') }}</td>
                    <td>{{ win.player.name }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('wins') }}
{% endblock %}
