@import "~bootstrap/scss/bootstrap";

body {
  background: {
    image: url("../images/104890.jpg");
  }
}

form {
  width: 100%;
}

#winner-name {
  font-size: 200%;
}

#spin-the-wheel {
  z-index: 1000;
}

#wins-today {
  position: absolute;
  right: 2em;
  top: 1em;
  background: rgba(255, 255, 255, .5);
  padding: 1em;
  border: solid .1em #fff;
  border-radius: 1em;
}

#wheel-wrapper {
  position: relative;
  width: 800px;
  height: 800px;
  margin: 50px;

  #pointer {
    position: absolute;
    width: 497px * .3;
    height: 294px * .3;
    background: {
      image: url("../images/spruce.png");
      size: 100% 100%;
    }

    right: -100px;
    top: 50%;
    margin-top: -10px;
  }
}
